.ba-footer{
	background-color: #4054B2; 
	color: #fff; 
	
}
		.ba-footer-nav{
			display: flex;
			align-items: center;
		}
.ba-copyright{
    
}
.ba-menu-footer{

	
	a{
	color: #fff;
	font-size: 12px;
	
	}
	li + li{
		margin-left: 80px;
	}
	@include breakpoint(medium){
	
	li + li{
		margin-left: 20px;
	}
	}
	
}
.ba-nav{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	font-size: 12px;
	margin-top: 15px;
	
	a, p{
		color: #fff;
		font-size: 9px;
	}
img{
	margin: 0 0 8px 5px;
}
}



.ba-menu{
	& li{
		list-style: none;
		font-size: 11px;
	}
	& a{
		color: #fff;
	}
}