.off-canvas {
  .menu {
    a {
      padding: 10px;
    }
  }
}

.ba-header-wrap {
  background: #4054b2;
}

.ba-main-menu {
  a {
    font-size: 18px;
    &:hover {
      color: lighten($primary-color, 20%);
    }
  }
}
