.ba-section-choise {
  background-color: $white;
  padding: 15px 0 70px;
  position: relative;
  @include breakpoint(medium) {
    padding: 60px 0 60px;
  }
}
p {
  font-family: $body-font-family;
  color: $black;
  font-weight: normal;
  letter-spacing: 0.5px;
  font-size: 14px;
}
h2 {
  color: $black;
  font-weight: normal;
  @include breakpoint(medium) {
    margin-bottom: 85px;
    color: $primary-color;
  }
}

.ba-vnz {
  margin-bottom: 60px;
  padding: 0;
  margin: 0px 15px 55px;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);

  @include breakpoint(medium) {
    display: flex;
  }
  &__img {
    display: block;
    width: 100%;
    padding-top: 15px;

    @include breakpoint(medium) {
      width: 100%;
      padding-top: 0;
    }
  }
  &__title {
    line-height: 1.23;
    margin-bottom: 10px;
    color: $primary-color;
    font-weight: normal;
    @include breakpoint(medium) {
    }
  }
  &__adress {
    line-height: 1.35;
    flex-grow: 1;
    margin-bottom: 30px;

    @include breakpoint(medium) {
    }
  }
  &__more {
    font-size: 12px;
    color: $primary-color;
    letter-spacing: 0.5px;
    margin-bottom: 30px;

    @include breakpoint(medium) {
    }
  }
  &__info {
    padding: 15px 60px 40px 15px;
    @include breakpoint(medium) {
      padding: 12px 0px 10px 30px;
      display: flex;
      flex-direction: column;
    }
  }
}

.ba-button {
  background-color: $primary-color;
  padding: 8px 18px;
  border-radius: 25px;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: $white;
  text-transform: uppercase;
  border: 2px solid $primary-color;

  &:hover {
    background-color: $white;
    color: $primary-color;
  }

  &--vnz{
	position: absolute;
	left: calc(50% - 80px);
	
  }
  &--spec {
	position: absolute;
    left: calc(50% - 110px);
  }
  &--result-test{
	position: absolute;
    left: calc(50% - 110px);
  }
  &--test{
	position: absolute;
	 left: calc(50% - 110px);
	 @include breakpoint(large){
		left: 50%;
	 }  
  }
}
.ba-slick-arrows-one {
  display: flex;
  cursor: pointer;
  position: absolute;
  bottom: 90px;
  left: calc(50% - 22px);
 
}

.ba-slider-choise {
  .slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;

    .slick-active {
      button {
        background: $medium-gray;
        border: 3px solid #fff;
        box-shadow: 0 0 0 2px $medium-gray;
      }
    }

    button {
      width: 16px;
      height: 16px;
      display: block;
      padding: 0;
      border: 2px solid $medium-gray;
      background: $white;
      font-size: 0;
      border-radius: 50%;
      margin: 8px;

      &:focus {
        outline: none;
      }
    }
  }
}
