<footer class="ba-footer">
    <div class="row">
		 <div class="column">

			 <div class="ba-footer-nav">
		 <div class="ba-nav medium-4 large-2 show-for-medium">
			 <a href="#">
			<img src="assets/img/Mask.svg" alt="mask">
			<p>вгору</p>
			</a>
		</div>
		 <!-- /.ba-nav --> 
		 <ul class="menu ba-menu-footer align-right medium-8 large-10 show-for-medium">
			<li><a href="#">Університети</a></li>
			<li><a href="#">Спеціальності</a></li>
			<li><a href="#">Тест</a></li>
			<li><a href="#">2019-2020</a></li>
			<li><a href="#">Політика конфіденційності</a></li>
		 </ul> 
		 

		 <div class="row ba-menu">
			<div class="column small-5">
				<ul class="ba-menu__1 align-center hide-for-medium">
				  <li><a href="#">Університети</a></li>
				  <li><a href="#">Спеціальності</a></li>
				  <li><a href="#">Тест</a></li>
				</ul>

			</div>
			<!-- /.column -->
			
			<div class="column small-5">
				<ul class="ba-menu__2 align-center hide-for-medium">
				  <li><a href="#">2019-2020</a></li>
				  <li><a href="#">Політика конфіденційності</a></li>
				  <li><a href="#">Cookies Policy</a></li>
				</ul> 

			</div>
			<!-- /.column -->

		 </div>
		</div>
		<!-- /.ba-footer-nav -->  
		 </div>
		 <!-- /.column -->
    </div>
    <!-- /.row -->
</footer>
<!-- /.ba-footer -->