<header class="ba-header-wrap">    
	<div class="ba-header-header">
        <div class="row align-middle ">
            <div class="column">
                <a href="/">
                    <img src="{{root}}assets/img/logovnz.svg" alt="Logo">
                </a>
            </div>
            <!-- /.column -->
            <div class="column shrink">
                <button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
                        </button>
                <ul class="menu ba-main-menu show-for-medium" data-smooth-scroll>
                    <li><a href="index.html">Головна</a></li>
                    <li><a href="beforetest.html">Тест</a></li>
                    <li><a href="#vnz">Університети</a></li>
                    <li><a href="#specialty">Спеціальності</a></li>
                    <li><a href="result-test.html">Вихід</a></li>
                   
                </ul>
            </div>
            <!-- /.column -->
        </div>
        <!-- /.row -->
    </div>
</header>