<section class="ba-section-beforetest">
	<div class="row column align-center">
		<div class="column align-left">
			<nav aria-label="You are here:" role="navigation">
				<ul class="breadcrumbs">
					<li><a href="index.html">Головна</a></li>
					<li>
						<span class="show-for-sr">Current: </span> Перейти до тесту
					 </li>
				</ul>
			</nav>
		</div>
		<!-- /.column -->
<div class="row align-center">

	<div class="column small-12 medium-12 large-6">
		<img src="assets/img/books.png" alt="books">
	</div>
	<!-- /.column -->

	<div class="column small-12 medium-12 large-6">
		<div class="ba-text-card">
			<h2 class="ba-text-card__title">Тест на визначення професійного типу особистості</h2>
			<p>Від того, яким ви володієте складом розуму, в прямому сенсі залежить ваша майбутня професія і кар’єрний ріст.Дуже важливо розуміти різницю між математичним і гуманітарним типом мислення, щоб надалі не помилитися з вибором своєї спеціальності.</p>
			<p class="ba-text-card__text">Пропонуємо скласти тест, оснований на методиці психолога Йовайші для визначення схильності особистості до різних сфер професійноі діяльності. </p>
						
			<a class="ba-button ba-button--test" href="test.html">перейти до тесту</a>
			
		</div>
		<!-- /.ba-text-card -->
	</div>
	<!-- /.column -->
</div>
<!-- /.row -->
	</div>
	<!-- /.row -->
</section>
