<section id="specialty" class="ba-section--choise-spec">
	<div class="row aline-center">
		<div class="column small-12 medium-12">

			<h2 class="text-center">Популярні спеціальності</h2>


		</div>
		<!-- /.ba-column -->

		<div class="column small-12 medium-12">
			<div class="ba-slider-spec">
				{{#repeat 3}}
				<div class="ba-slider-spec__item">
					<article class="ba-spec">
						<img class="ba-spec__img small-12 medium-6" src="{{root}}assets/img/man.jpg" alt="man">

						<div class="ba-spec__info small-12 medium-6">
							<h3 class="ba-spec__title">Інженер IT,програміст</h3>
							<p class="ba-spec__description">Розроблює технологію розв’язання задачі на всіх етапах. Здійснює
								вибір мови програмування і переклад нею алгоритмів задач.</p>
							<a class="ba-spec__more" href="#">Детальніше</a>
						</div>
						<!-- /.ba-vnz__info -->

					</article>
				</div>
				<!-- /.ba-slider-spec__item -->

				<div class="ba-slider-spec__item">
					<article class="ba-spec">
						<img class="ba-spec__img small-12 medium-6" src="{{root}}assets/img/woman.jpg" alt="woman">

						<div class="ba-spec__info small-12 medium-6">
							<h3 class="ba-spec__title">Менеджер з реклами і РR, маркетолог</h3>
							<p class="ba-spec__description">Планує і керує рекламною діяльністю виходячи з цілей клієнтів і
								їхніх фінансових можливостей; координує діяльність рекламного агентства</p>
							<a class="ba-spec__more" href="#">Детальніше</a>
						</div>
						<!-- /.ba-spec__info -->

					</article>
				</div>
				<!-- /.ba-slider-spec__item -->

				<div class="ba-slider-spec__item">
					<article class="ba-spec">
						<img class="ba-spec__img small-12 medium-6" src="{{root}}assets/img/tasarimci.jpg" alt="tasarimci">

						<div class="ba-spec__info small-12 medium-6">
							<h3 class="ba-spec__title">Архітектор</h3>
							<p class="ba-spec__description">Придумує основну концепцію будівлі, його зовнішність, пов'язує
								воєдино всі нюанси. Завдання - спроектувати споруду, що максимально відповідає потребам
								замовника.</p>
							<a class="ba-spec__more" href="#">Детальніше</a>
						</div>
						<!-- /.ba-spec__info -->

					</article>
				</div>
				<!-- /.ba-slider-spec__item -->

				<div class="ba-slider-spec__item">
					<article class="ba-spec">
						<img class="ba-spec__img small-12 medium-6" src="{{root}}assets/img/count.jpg" alt="count">

						<div class="ba-spec__info small-12 medium-6">
							<h3 class="ba-spec__title">Бухгалтер</h3>
							<p class="ba-spec__description">Проводить касові операції, розраховує заробітну плату
								співробітників, податкові відрахування, собівартість продукції та оклади.</p>
							<a class="ba-spec__more" href="#">Детальніше</a>
						</div>
						<!-- /.ba-spec__info -->

					</article>
				</div>
				<!-- /.ba-slider-spec__item -->

				{{/repeat}}
			</div>
			<!-- /.ba-slider-spec -->

			<ul class="slick-dots">

			</ul>

			<div class="ba-slick-arrows-two show-for-small-only">
				<div data-spec-prev>
					<svg width="8" height="13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.41 11.34L2.83 6.75l4.58-4.59L6 .75l-6 6 6 6 1.41-1.41z" fill="#8C9EFF" /></svg>
				</div>
				<div data-spec-next class="ba-spec-next">
					<svg width="8" height="13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M.59 11.34l4.58-4.59L.59 2.16 2 .75l6 6-6 6-1.41-1.41z" fill="#8C9EFF" /></svg>
				</div>
			</div>
			<!-- /..ba-slider-arrows -->

		</div>
		<!-- /.column small-12 -->
	</div>
	<!-- /.row -->

	<div class="row column small-12 medium-12 large-12 align-center">
		<a class="ba-button ba-button--spec" href="beforetest.html">підібрати спеціальність</a>

	</div>
	<!-- /.row column -->

</section>