<section class="ba-section-statistics">
	<div class="row align-center ba-statistics">
<div class="column small-12 medium-12 align-center ba-info">

<div class="column small-12 medium-4 align-center ba-info__block">
	<img class="ba-info__img" src="assets/img/class.svg" alt="sclass">
	<p class="ba-info__text"><span>4555</span> учасників пройшли тест на визначення майбутньої професії</p>
</div>
<!-- /.ba-info -->

<div class="column small-12 medium-4 align-center ba-info__block">
	<img class="ba-info__img" src="assets/img/education.svg" alt="seducation">
	<p class="ba-info__text"><span>660</span> вищих навчальних закладів, більше ніж <span>3000</span> спеціальностей</p>
</div>
<!-- /.ba-info -->

<div class="column small-12 medium-4 align-center ba-info__block">
	<img class="ba-info__img" src="assets/img/book.svg" alt="sbook">
	<p class="ba-info__text">Отримай всю інформацію на пошту про ВУЗи та майбутню професію лише за <span>10 хвилин</span></p>
</div>
<!-- /.ba-info -->
</div>
<!-- /.column -->
	</div>
	<!-- /.row -->

</section>