<section class="ba-section-test">
	<div class="row column align-center">
		<div class="column align-left">
			<ul class="ba-way">
				<li><a href="index.html">Головна</a>
					<img src="assets/img/mask.svg" alt="mask">
				</li>
				<li>Результати тесту</li>
			</ul>
		
		</div>
		<!-- /.column -->

		<div class="row align-center">
	<div class="ba-allcard">

		
		<div class="column medium-6 large-6 show-for-medium">
			<img src="assets/img/fototest.png" alt="fototest">
		</div>
		<!-- /.column -->
		
		<div class="column small-12 medium-6 large-6">
			<div class="ba-test-card">
				
				<div class="ba-test-start">
					<img class="ba-test-start__img" src="assets/img/draw.svg" alt="draw">
					<h3 class="ba-test-start__title">
						Тест Визначення <br>професійних уподобань</h3>
				</div>
				<!-- /.ba-test-card__start -->
				<app-progress></app-progress>
				
				
				<form action="#" method="POST" class="ba-form">
					
					<fieldset>
						<legend>1.  Уявіть, що ви на виставці.Що вас найбільше приваблює в експонатах?</legend>
						<input type="radio" name="t0" value="Red" id="vp0" required><label for="vp0"> колір, досконалість форм</label><br>
						<input type="radio" name="t1" value="Blue" id="vp1"><label for="vp1"> як і з чого вони зроблені</label>
					</fieldset>
					
					<fieldset>
						<legend>2.  Якій нагороді ви б зраділи найбільше?</legend>
						<input type="radio" name="t2" value="Red" id="vp2" required><label for="vp2"> за громадську діяльність</label><br>
						<input type="radio" name="t3" value="Blue" id="vp3"><label for="vp3"> за науковий винахід</label>
					</fieldset>
					
					<fieldset>
						<legend>	3.  Яким журналам надаєте первагу?</legend>
						<input type="radio" name="t4" value="Red" id="vp4" required><label for="vp4"> літературно-художні</label><br>
						<input type="radio" name="t5" value="Blue" id="vp5"><label for="vp5"> наукові</label>
					</fieldset>
					
				</form>
				
				<a class="ba-button ba-button--test" href="recommend.html">далі</a>
				
			</div>
			<!-- /.ba-text-card -->
		</div>
		<!-- /.column -->
	</div>
	<!-- /.ba-allcard -->
</div>
<!-- /.row -->
	</div>
	<!-- /.row -->
</section>
