<section class="ba-section-recommend">
	<div class="row column align-center">
		<div class="column align-left">
			<nav aria-label="You are here:" role="navigation">
				<ul class="breadcrumbs">
					<li><a href="index.html">Головна</a></li>
					<li>
						<span class="show-for-sr">Current: </span> Рекомендовані ВУЗи
					 </li>
				</ul>
			</nav>
		</div>
		<!-- /.column -->

		<h3 class="text-center ba-title">Рекомендовані ВУЗи</h3>


		<div class="row align-center">

			<div class="column small-12 medium-6 large-4">
				<div class="ba-data">
					<a class="ba-data__link" href="https://kpi.ua/">
					<img class="ba-data__img" src="{{root}}assets/img/recommend/KPI1.png" alt="kpi">
					</a>
					<div class="ba-data__vnz">
						<a class="ba-data__link" href="https://kpi.ua/">
						<p class="ba-data__city">м.Київ</p>
						<p class="ba-data__name">КПІ ім. Ігоря Сікорського</p>
					</a>
					</div>
					<!-- /.ba-data__vnz -->
				</div>
				<!-- /.ba-data -->
			</div>
			<!-- /.column -->

			<div class="column small-12 medium-6 large-4">
				<div class=" ba-data ">
					<a class="ba-data__link" href="https://www.kpi.kharkov.ua/ukr/">
					<img class="ba-data__img" src="{{root}}assets/img/recommend/HPI1.png" alt="kpi">
				</a>
					<div class="ba-data__vnz">
						<a class="ba-data__link" href="https://www.kpi.kharkov.ua/ukr/">
						<p class="ba-data__city">м.Харків</p>
						<p class="ba-data__name">НТУ ХПІ</p>
					</a>
					</div>
					<!-- /.ba-data__vnz -->
				</div>
				<!-- /.ba-data -->
			</div>
			<!-- /.column -->


			<div class="column small-12 medium-6 large-4">

				<div class=" ba-data ">
<a class="ba-data__link" href="pntu.html">
					<img class="ba-data__img" src="{{root}}assets/img/recommend/PNTY1.png" alt="kpi">
					</a>
					<div class="ba-data__vnz">
<a class="ba-data__link" href="pntu.html">
						<p class="ba-data__city">м.Полтава</p>
						<p class="ba-data__name">ПНТУ ім.Юрія Контдратюка</p>
					</a>
					</div>
					<!-- /.ba-data__vnz -->
				</div>
				<!-- /.ba-data -->
			</div>
			<!-- /.column -->

			<div class="column small-12 medium-6 large-4">
				<div class="ba-data">
<a class="ba-data__link" href="http://www.viti.edu.ua/">
					<img class="ba-data__img" src="{{root}}assets/img/recommend/VITI1.png" alt="kpi">
					</a>
					<div class="ba-data__vnz">
<a class="ba-data__link" href="http://www.viti.edu.ua/">
						<p class="ba-data__city">м.Київ</p>
						<p class="ba-data__name">ВІТІ ДУТ</p>
					</a>
					</div>
					<!-- /.ba-data__vnz -->
				</div>
				<!-- /.ba-data -->
			</div>
			<!-- /.column -->

			<div class="column small-12 medium-6 large-4">
				<div class="ba-data">
<a class="ba-data__link" href="https://lpnu.ua/">
					<img class="ba-data__img" src="{{root}}assets/img/recommend/Nulp1.png" alt="kpi">
				</a>
					<div class="ba-data__vnz">
<a class="ba-data__link" href="https://lpnu.ua/">
						<p class="ba-data__city">м.Львів</p>
						<p class="ba-data__name">“Львівська політехніка”</p>
					</a>
					</div>
					<!-- /.ba-data__vnz -->
				</div>
				<!-- /.ba-data -->
			</div>
			<!-- /.column -->

			<div class="column small-12 medium-6 large-4">
				<div class="ba-data">
<a class="ba-data__link" href="https://www.pdaa.edu.ua/">
					<img class="ba-data__img align-center" src="{{root}}assets/img/recommend/akad1.png" alt="kpi">
				</a>
					<div class="ba-data__vnz">
					<a class="ba-data__link" href="https://www.pdaa.edu.ua/">
					<p class="ba-data__city">м.Полтава</p>
					<p class="ba-data__name">ПДАА</p>
				</a>
				</div>
				<!-- /.ba-data__vnz -->
			</div>
			<!-- /.ba-data -->
		</div>
		<!-- /.column -->
		
		</div>
<!-- /.row -->
	</div>
	<!-- /.row align-center -->

</section>