<section class="ba-intro" >
	<div class="row align-left">
		<div class="column small-12 medium-7 large-7 ">
			
			<h1 class="ba-intro__title">
				Вибір навчального закладу для здобуття вищої освіти       
			</h1>
			<p class="ba-intro__subtitle">
				Не знаєш, яку професію обрати?
			</p>
			<p class="ba-intro__text">
				Пройди тест та дізнайся, яка спеціальність підходить для тебе найбільше
			</p>
			<a class="button ba-intro__button" href="beforetest.html">перейти до тесту</a>
		</div>
		
	</div>
</section>