<section id="vnz" class="ba-section-choise">
<div class="row aline-center">
<div class="column small-12 medium-12">

	<h2 class="text-center">Популярні університети</h2>

	
			</div>
			<!-- /.ba-column -->

	<div class="column small-12 medium-12">
<div class="ba-slider-choise">
	{{#repeat 3}}
	<div class="ba-slider-choise__item">
		<article class="ba-vnz">
<img class="ba-vnz__img small-12 medium-6" src="{{root}}assets/img/kyiv.jpg" alt="kyiv">

<div class="ba-vnz__info small-12 medium-6">
<h3 class="ba-vnz__title">Киівський національний університет імені Т.Г.Шевченка</h3>
<p class="ba-vnz__adress">Адреса: м.Київ, вул.Володимирська,60</p>
<a class="ba-vnz__more" href="#">Детальніше</a>
</div>
<!-- /.ba-vnz__info -->

		</article>
	</div>
	<!-- /.ba-slider-choise__item -->

	<div class="ba-slider-choise__item">
		<article class="ba-vnz">
<img class="ba-vnz__img small-12 medium-6" src="{{root}}assets/img/manager.jpg" alt="manager">

<div class="ba-vnz__info small-12 medium-6">
<h3 class="ba-vnz__title">Міжрегіональна Академія Управління персоналом</h3>
<p class="ba-vnz__adress">Адреса: м.Київ, вул.<br> Фрометівська, 2</p>
<a class="ba-vnz__more" href="#">Детальніше</a>
</div>
<!-- /.ba-vnz__info -->

		</article>
	</div>
	<!-- /.ba-slider-choise__item -->

	<div class="ba-slider-choise__item">
		<article class="ba-vnz">
<img class="ba-vnz__img small-12 medium-6" src="{{root}}assets/img/lviv.jpg" alt="lviv">

<div class="ba-vnz__info small-12 medium-6">
<h3 class="ba-vnz__title">Львівський університет <br>імені Івана Франка</h3>
<p class="ba-vnz__adress">Адреса: м.Львів, вул.Університетська,1</p>
<a class="ba-vnz__more" href="#">Детальніше</a>
</div>
<!-- /.ba-vnz__info -->

		</article>
	</div>
	<!-- /.ba-slider-choise__item -->

	<div class="ba-slider-choise__item">
		<article class="ba-vnz">
<img class="ba-vnz__img small-12 medium-6" src="{{root}}assets/img/karazina.jpg" alt="karazina">

<div class="ba-vnz__info small-12 medium-6">
<h3 class="ba-vnz__title">Харківський національний університет імені В.Н. Каразіна</h3>
<p class="ba-vnz__adress">Адреса:м.Харків, майдан Свободи, 4</p>
<a class="ba-vnz__more" href="#">Детальніше</a>
</div>
<!-- /.ba-vnz__info -->

		</article>
	</div>
	<!-- /.ba-slider-choise__item -->
	{{/repeat}}
</div>
<!-- /.ba-slider-choise -->

<ul class="ba-slick-dots">
	
</ul>

<div class="ba-slick-arrows-one show-for-small-only">
	<div data-prev>
		<svg width="8" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.41 11.34L2.83 6.75l4.58-4.59L6 .75l-6 6 6 6 1.41-1.41z" fill="#8C9EFF"/></svg>
	</div>
	<div data-next class="ba-spec-next">
		<svg width="8" height="13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.59 11.34l4.58-4.59L.59 2.16 2 .75l6 6-6 6-1.41-1.41z" fill="#8C9EFF"/></svg>
	</div>		
	</div>
	<!-- /..ba-slider-arrows -->

</div>
<!-- /.column small-12 -->
</div>
<!-- /.row -->
<div class="row column small-12 medium-12 large-12 align-center">
<a class="ba-button" href="beforetest.html">підібрати вуз</a>
</div>
</section>