<section class="ba-section-pntu">
	<div class="row column align-center">

		<div class="column align-left">
			<nav aria-label="You are here:" role="navigation">
				<ul class="breadcrumbs">
					<li><a href="index.html">Головна</a></li>
					<li><a href="recommend.html">Рекомендовані ВУЗи</a></li>
					<li>
						<span class="show-for-sr">Current: </span> ПНТУ ім.Ю.Кондратюка
					 </li>
				</ul>
			</nav>
		</div>
		<!-- /.column -->


		<div class="row column">
			<div class="ba-pntu-title">
				<img class="ba-university-logo" src="assets/img/pntu/PNTY.png" alt="PNTY">

				<div class="ba-pntu-title__text">
					<h2 class="ba-university-name">Полтавський Національний Технічний Університет ім.Юрія Кондратюка</h2>
					<p class="ba-ptnu-info show-for-medium">Національний університет - класичні традиції, інновації, нові
						<br>
						можливості...</p>
				</div>

			</div>
			<!-- /.ba-pntu-title -->
		</div>

		<div class="row align-center">

			<img class="column small-6 medium-6 ba-column" src="assets/img/pntu/pntu1.png" alt="pntu1">

			<img class="column small-6 medium-6 ba-column" src="assets/img/pntu/pntu2.png" alt="pntu2">


			<img class="column small-4 medium-4 ba-column" src="assets/img/pntu/pntu3.png" alt="pntu3">

			<img class="column small-4 medium-4 ba-column" src="assets/img/pntu/pntu4.png" alt="pntu4">

			<img class="column small-4 medium-4 ba-column" src="assets/img/pntu/pntu5.png" alt="pntu5">

			<a class="ba-button ba-button--pntu  align-center" href="https://nupp.edu.ua/">перейти на сайт</a>
		</div>
		<!-- /.row -->


		<div class="row">
			<div class="column small-12 medium-4 ">
				<div class="ba-set">
					<img class="ba-set__img" src="{{root}}assets/img/pntu/set-1.svg" alt="kpi">
					<div class="ba-set__vnz">
						<p class="ba-set__data">Факультети</p>
						<a class="ba-set__link" href="#">детальніше</a>
					</div>
					<!-- /.ba-set__vnz -->
				</div>
				<!-- /.ba-set -->
			</div>

			<div class="column small-12 medium-4 ">
				<div class=" ba-set">
					<img class="ba-set__img" src="{{root}}assets/img/pntu/set-2.svg" alt="kpi">
					<div class="ba-set__vnz">
						<p class="ba-set__data">Гуртожиток</p>
						<a class="ba-set__link" href="#">детальніше</a>
					</div>
					<!-- /.ba-set__vnz -->
				</div>
				<!-- /.ba-set -->
			</div>

			<div class="column small-12 medium-4 ">
				<div class=" ba-set ">
					<img class="ba-set__img" src="{{root}}assets/img/pntu/set-3.svg" alt="kpi">
					<div class="ba-set__vnz">
						<p class="ba-set__data">Абітуріенту</p>
						<a class="ba-set__link" href="#">детальніше</a>
					</div>
					<!-- /.ba-set__vnz -->
				</div>
				<!-- /.ba-set -->
			</div>

			<div class="column small-12 medium-4 ">
				<div class=" ba-set ">
					<img class="ba-set__img" src="{{root}}assets/img/pntu/set-4.svg" alt="kpi">
					<div class="ba-set__vnz">
						<p class="ba-set__data">Викладачі</p>
						<a class="ba-set__link" href="#">детальніше</a>
					</div>
					<!-- /.ba-set__vnz -->
				</div>
				<!-- /.ba-set -->
			</div>

			<div class="column small-12 medium-4 ">
				<div class=" ba-set ">
					<img class="ba-set__img" src="{{root}}assets/img/pntu/set-5.svg" alt="kpi">
					<div class="ba-set__vnz">
						<p class="ba-set__data">Студентське життя</p>
						<a class="ba-set__link" href="#">детальніше</a>
					</div>
					<!-- /.ba-set__vnz -->
				</div>
				<!-- /.ba-set -->
			</div>

		</div>
		<!-- /.row -->

		<h3 class="ba-cards-title text-center">Вступні випробування</h3>

		<div class="row align-center">
			<div class="ba-cards column small-11 medium-8 large-3">
				<a class="ba-data__link" href="#"><img class="ba-cards__img" src="assets/img/pntu/card1.png" alt="card1"></a>
				<a class="ba-data__link" href="#"><h2 class="ba-cards__info">Графік <br> випробувань</h2></a>
			</div>

			<div class="ba-cards column small-11 medium-8 large-3">
				<a class="ba-data__link" href="#"><img class="ba-cards__img" src="assets/img/pntu/card2.png" alt="card2"></a>
				<a class="ba-data__link" href="#"><h2 class="ba-cards__info">Результати <br> випробувань</h2></a>
			</div>

			<div class="ba-cards column small-11 medium-8 large-3">
				<a class="ba-data__link" href="#"><img class="ba-cards__img" src="assets/img/pntu/card3.png" alt="card3"></a>
				<a class="ba-data__link" href="#"><h2 class="ba-cards__info">Підготовчі <br> курси</h2></a>
			</div>
		</div>



		<div class="row column align-center">
			<div class="ba-documents">
				<h4 class="ba-documents__title text-center">Перелік документів для оформлення заяви щодо вступу до університету</h4>

				<ol class="ba-documents__list">
					<li>документ що посвідчує особу;
					</li>
					<li>документ державного зразка про раніше здобутий освітній (освітньо-кваліфікаційний) рівень, на основі
						якого здійснюється вступ, і додаток до нього; сертифікат (сертифікати) Українського центру оцінювання
						якості освіти (для вступників на
						основі повної загальної середньої освіти);
					</li>
					<li>військовий квитка або посвідчення про приписку - для військовозобов’язаних (крім випадків,
						передбачених
						законодавством).
					</li>
					<li>4 кольорові фотокартки розміром 3 х 4 см;
					</li>
					<li>3 поштові конверти з марками по Україні, конверти форматів А-4, А-5 та картонна папка-обкладинка.</li>
				</ol>
				<p>Для вступу на декілька спеціальностей подають ксерокопії документів на кожен напрям окремо, що
					засвідчуються
					відповідальним секретарем відбіркової комісії або нотаріально.</p>
				<p class="text-center">Для отримання більш повної інформації та сповіщень, зареєструйтесь</p>
			</div>
			<a class="ba-button ba-button--sign-in align-center" href="#">зареєструватись</a>

		</div>
		
</section>