<section class="ba-section-test">
	<div class="row column align-center">
		<div class="column align-left">
			<nav aria-label="You are here:" role="navigation">
				<ul class="breadcrumbs">
					<li><a href="index.html">Головна</a></li>
					<li>
						<span class="show-for-sr">Current: </span> Тест
					 </li>
				</ul>
			</nav>

		</div>
		<!-- /.column -->

		<div class="row align-center">
			<div class="ba-allcard">


				<div class="column medium-6 large-6 show-for-medium">
					<img src="assets/img/fototest.png" alt="fototest">
				</div>
				<!-- /.column -->

				<div class="column small-12 medium-6 large-6">
					<div class="ba-test-card">

						<div class="ba-test-start">
							<img class="ba-test-start__img" src="assets/img/draw.svg" alt="draw">
							<h3 class="ba-test-start__title">
								Тест Визначення <br>професійних уподобань</h3>
						</div>
						<!-- /.ba-test-card__start -->
						

						<div class="result">
							Ваш результат: <span class="result_text">пока ноль</span>
						</div>
						<div id="test">
							
						</div>
						

					</div>
					<!-- /.ba-text-card -->
				</div>
				<!-- /.column -->
			</div>
			<!-- /.ba-allcard -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.row -->
</section>